<h1>
  <%= params[:mark] == "favorite" ? t("marks.allfavorite") :
    t("marks.allread") %>
</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t "books.new.title" %></th>
      <th><%= t "books.new.author" %></th>
      <th><%= t "books.new.publish_date" %></th>
      <th><%= t "books.new.category" %></th>
      <th><%= t "books.new.pages" %></th>
      <th><%= t "marks.status" %></th>
      <th><%= t "action.title" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render params[:mark] == "favorite" ? "favorite" : "read" %>
  </tbody>
</table>
