<h1><%= t "marks.all" %></h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t "books.new.title" %></th>
      <th><%= t "books.new.author" %></th>
      <th><%= t "books.new.publish_date" %></th>
      <th><%= t "books.new.category" %></th>
      <th><%= t "books.new.pages" %></th>
      <th><%= t "marks.status" %></th>
    </tr>
  </thead>
  <tbody>
    <% @marks.each do |mark| %>
      <tr>
        <% book = mark.book %>
        <td><%= link_to book.title, book %></td>
        <td><%= book.author %></td>
        <td><%= book.publish_date %></td>
        <td><%= book.category %></td>
        <td><%= book.pages %></td>
        <td><%= t "mark.#{mark.read}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
