<h1><%= t "users.index.all" %></h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t "users.index.fullname" %></th>
      <th><%= t "users.index.email" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <% unless user.is_admin? %>
          <td><%= link_to user.fullname, user %></td>
          <td><%= user.email %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
