<div class="row">
  <aside class="col-md-5">
    <section>
      <h1>
        <%= link_to image_tag(@user.avatar.url, size: Settings.avatar_user),
          @user %>
        <%= @user.fullname %>
      </h1>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
    <%= render "follow_form" if logged_in? && !current_user.is_admin? %>
  </aside>
  <aside class="col-md-5 activity">
    <h3><%= t "activities.title" %></h3>
    <div class="span2 row">
      <ul>
        <% if @activities.any? %>
          <%= render @activities %>
          <%= will_paginate @activities %>
        <% end %>
      </ul>
    </div>
  </aside>
</div>

