<%= form_for [@book, review], class: "navbar-form" do |f| %>
  <div class="row review_form">
    <%= render "shared/error_messages", object: review %>
    <div class="col-md-3">
      <%= f.label :rated, t("reviews.rated") %>
      <%= f.select :rated, options_for_select(Review.rateds), {},
        {class: "form-control"} %>
    </div>
    <div class="col-md-9">
      <%= f.label :content, t("reviews.content") %>
      <%= f.text_area :content, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-2 pull-right">
    <%= f.submit t("reviews.create"), class: "btn btn-primary" %>
  </div>
<% end %>
