<div class="col-sm-3 col-lg-4 col-md-3">
  <div class="thumbnail book">
    <div class="col-md-4">
      <%= link_to image_tag(book.picture.url, size: Settings.size_book), book %>
    </div>
    <div class="ellipsis">
      <h4><b><%= link_to book.title, book %></b></h4>
      <p><%= t "books.new.author" %> : <%= book.author %></p>
      <p><%= book.reviews.count %> <%= t "reviews.title" %></p>
      <p>
        <%= book.rated.round 2 %>
        <% (0...book.rated.to_i).each do |i| %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% (book.rated.to_i...5).each do |i| %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      </p>
   </div>
  </div>
</div>
