<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">
    <div class="caption">
      <h4><b><%= link_to book.title, book %></b></h4>
      <p><%= t "books.new.author" %> : <%= book.author %></p>
    </div>
    <div class="ratings">
      <p class="pull-right"><%= book.reviews.count %>
        <%= t "reviews.title" %></p>
      <p>
        <%= @rateds[book.id].round 2 %>
        <% (0...@rateds[book.id].to_i).each do |i| %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% (@rateds[book.id].to_i...5).each do |i| %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      </p>
    </div>
  </div>
</div>
