<h1><%= t "books.index.title" %></h1>
  <div class="col-md-9 col-md-offset-2">
    <%= form_tag books_path, class: "navbar-form", method: :get do %>
      <%= select_tag :type, options_for_select(@types), class: "form-control" %>
      <div class="input-group">
        <%= search_field_tag :search, params[:search],
          placeholder: t("searches.title"), class: "form-control search" %>
        <div class="input-group-btn">
          <%= submit_tag t("searches.search"), name: nil,
            class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
<div class="row">
  <aside class="col-md-12">
  <ul>
    <% if @books.any? %>
      <%= render @books %>
    <% end %>
  </ul>
  </aside>
</div>
<%= will_paginate %>
