<div class="col-md-9 col-md-offset-2">
  <div class="thumbnail">
    <div class="caption-full">
      <h4><%= link_to @book.title, @book %></h4>
      <p><%= t "books.new.author" %> : <%= @book.author %></p>
      <p><%= t "books.new.publish_date" %> : <%= @book.publish_date %></p>
      <p><%= t "books.new.pages" %> : <%= @book.pages %></p>
      <p id="favorite_num"><%= @book.marks.count %> <%= t "books.index.favorite" %></p>
    </div>
    <%= render "shared/rated" %>
  </div>
  <div class="well">
    <div id="review_form_<%= @book.id %>">
      <%= render "shared/review_form", review: @review_new %>
    </div>
    <br>
    <%= render "shared/feed" %>
  </div>
</div>


